._ {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  width: 256px;
  height: 32px;
}

.input {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 4px 4px 4px 8px;
  border: 1px solid #459df5;
  box-sizing: border-box;
  border-radius: 4px;
  position: static;
  width: 256px;
  height: 32px;

  flex: none;
}

.input:focus-within {
  border: 1px solid #1518ca;
}

.inputText {
  width: 198px;
  height: 16px;
  border: 0;
  background-color: transparent;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  margin-left: 8px;
}

.inputText::placeholder {
  color: #bad8f5;
}

.inputText:focus {
  outline: none;
}

.inputText_notempty {
  width: 198px;
}

.button {
  border: 0;
  background-color: transparent;
  width: 16px;
  padding: 0;
}

.icon {
  width: 16px;
  height: 16px;
}
